<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ChoreTracker - Home</title>
    <meta name="author" content="Ivan Robles">
    <meta name="description" content="Chore Tracker Product">

    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <script src="https://kit.fontawesome.com/06c5daf794.js" crossorigin="anonymous"></script>

    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="images/ChoreTrackerFav.png">
  </head>

  <body>

    <!-- Header of Page -->
    <div class='hero'>
      <div class="left-hero">
        <a href="/">
          <img class="chore-logo" src="images/ChoreTracker_Logo.png" alt="ChoreTracker Logo"
            href="/">
        </a>
        <a href="/">
          <img class="chore-words" src="images/ChoreTracker_W.png" alt="ChoreTracker"
            href="/">
        </a>
      </div>
      <div class="right-hero">
        <button id="start-btn" class="custom-btn">Get Started</button>
        <button id="menu-btn" title="Menu" class="btn">
          <i class="fas fa-bars fa-x"></i>
        </button>
      </div>
    </div>
    <hr class="hero-line">
    <!-- End of Header -->

    <!--
    <div class="pages-bar">
      <h6> The easiest and safest way to get your kids to do their chores. </h6>
      <div class="pages">
        <a href="kvp" >Key Value Proposition</a>
        <a href="team" >Meet the Team</a>
        <a href="product">Product</a>
      </div>
    </div>  -->

    <section class='padding-responsive landing'> 

      <section class='responsive_grid'>
        <div class='landing-card margin-none'> 
          The ChoreTracker is a collection of sensors that work together with our app
          to make organizing, assigning, and tracking chores easy.
          <ul>
            <li>
              Create recurring or one-time chores
            </li>
          </ul>
          <ul>
            <li>
              Monitor chores and receive real-time updates
            </li>
          </ul>
          <ul>
            <li>
              Reward your kids for a job well done
            </li>
          </ul> 
        </div>
        <div class='empty-card'></div>
      </section>
    </section>


    <!-- Bar to Scroll Back to Top of Current Page -->
    <hr class="hero-line">
    <div class="bottom-row">
      <a href="#" class="btn no_underline">
        <i class="fas fa-arrow-up fa-x" title="Back to Top"></i>
      </a>
    </div>

      

  </body>
</html>
