<!doctype html>
<html lang="en">

  <head>
    <!-- Page Info -->
    <title>ChoreTracker - Key Value Proposition</title>
    <meta name="author" content="Ivan Robles">
    <meta name="description" content="Chore Tracker Product">

    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <script src="https://kit.fontawesome.com/06c5daf794.js" crossorigin="anonymous"></script>

    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="images/ChoreTrackerFav.png">

  </head>

  <body>

    <!-- Header of Page -->
    <div class='hero'>
      <div class="left-hero">
        <a href="/">
          <img class="chore-logo" src="images/ChoreTracker_Logo.png" alt="ChoreTracker Logo"
            href="/">
        </a>
        <a href="/">
          <img class="chore-words" src="images/ChoreTracker_W.png" alt="ChoreTracker"
            href="/">
        </a>
      </div>
      <div class="right-hero">
        <button id="menu-btn" title="Menu" class="btn">
          <i class="fas fa-bars fa-x"></i>
        </button>
      </div>
    </div>
    <hr class="hero-line">
    <!-- End of Header -->

    <div class="pages-bar">
        <h6></h6>
        <div class="pages">
          <a href="/">Home</a>
          <a href="team">Meet the Team</a>
          <a href="product">Product</a>
        </div>
    </div>


    <section class='padding-responsive'>
      

      <div class='separator'>Key Value Proposition</div>

      <section class='responsive_grid'>
        <div class='card bordered margin-none'> 
          How will ChoreTracker Help You?
          <ul>
            <li>
                <span class="item-header">Convenience</span> - We make it easier for you to get your kids to do their chores
            </li>
          </ul>
          <ul>
            <li>
                <span class="item-header">Accessibility</span> - You will always have access to the state of your house, such as
              when the trash is full or when it's time to do dishes.
            </li>
          </ul>
          Why Choose Us Over Others?
          <ul>
            <li>
                <span class="item-header">No one else does what we do.</span> There are no other products that let you get 
              live updates on the status of your household chores. This, along with calendar
              scheduling and a built-in reward system, make the ChoreTracker the obvious choice.
            </li>
          </ul> 
        </div>
        <div class='floating_image margin-none'>
          <img src="images/KVP.jpg" alt="Image">
        </div>
      </section>
      
      <p> For more information on the product itself, visit the <a href="/">Product Page</a>. </p>
    </section>


  </body>
</html>
