<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ChoreTracker - Home</title>
    <meta name="author" content="Ivan Robles">
    <meta name="description" content="Chore Tracker Product">

    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <script src="https://kit.fontawesome.com/06c5daf794.js" crossorigin="anonymous"></script>

    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="images/ChoreTrackerFav.png">
  </head>

  <body>

    <!-- Header of Page -->
    <div class='hero'>
      <div class="left-hero">
        <a href="/">
          <img class="chore-logo" src="images/ChoreTracker_Logo.png" alt="ChoreTracker Logo"
            href="/">
        </a>
        <a href="/">
          <img class="chore-words" src="images/ChoreTracker_W.png" alt="ChoreTracker"
            href="/">
        </a>
      </div>
      <div class="right-hero">
        <button id="menu-btn" title="Menu" class="btn">
          <i class="fas fa-bars fa-x"></i>
        </button>
      </div>
    </div>
    <hr class="hero-line">
    <!-- End of Header -->

    <!-- Contains the slide-out menu -->
    <menu-list></menu-list>
    
    <div class="pages-bar">
      <!--empty space on left-->
      <h6></h6>
      <div class="pages">
        <a href="/">Home</a>
        <a href="kvp" >Key Value Proposition</a>
        <a href="team" >Meet the Team</a>
      </div>
    </div> 

    <section class='padding-responsive'>  
      <div class='separator'>Who can use the Chore Tracker?</div>

      <section class='responsive_grid'>
        <div class='floating_image margin-none'>
          <img src="images/BusyParent.jpg" alt="Busy Parent Image">
        </div>
        <div class='card bordered margin-none'> 
          The ChoreTracker can be used by anyone, but it's especially useful for you busy parents. 
          When kids don't get their chores done, it's parents who pay the price. With ChoreTracker,
          you quickly designate tasks and have a reward system of points to motivate kids for doing
          them. Then you simply give them screen time, allowances, or whatever you want for the
          points they have earned.
        </div>
      </section>
      <div class="center-box">
        <div class="sub-topic">Benefits</div>
        <p class="sub-topic-p">Adults benefit because we take the hassle out of organizing chores</p>
        <p class="sub-topic-p">Kids benefit from having clear directions and rewards as motivation</p>
      </div>
    </section>

    <section class='padding-responsive'>  
      <div class='separator'>How does it work?</div>

      <section class='responsive_grid'>
        <div class='card bordered margin-none'> 
          It's as easy as 1.. 2.. 3..
          <div class="in-line">
            <i class="fas fa-bars fa-x"></i>
            <p>
              Install the app and easily attach your sensors to your appliances.
            </p>
          </div> 

          <div class="in-line">
            <i class="fas fa-bars fa-x"></i>
            <p>
              Create chores and assign them to your kids, or leave them up-for-grabs.
            </p>
          </div>

          <div class="in-line">
            <i class="fas fa-bars fa-x"></i>
            <p>
              Watch the chores get done and get notified when they are overdue.
            </p>
          </div>
        </div>
        <div class='floating_image margin-none'>
          <img src="images/StepOne.jpg" alt="Step One Image">
        </div>
      </section>
    </section>

    <!-- Bar to Scroll Back to Top of Current Page -->
    <hr class="hero-line">
    <div class="bottom-row">
      <a href="#" class="btn no_underline">
        <i class="fas fa-arrow-up fa-x" title="Back to Top"></i>
      </a>
    </div>

      

  </body>
</html>
