<!doctype html>
<html lang="en">

  <head>
    <!-- Page Info -->
    <title>ChoreTracker - Meet the Team</title>
    <meta name="author" content="Ivan Robles">
    <meta name="description" content="Chore Tracker Product">

    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <script src="https://kit.fontawesome.com/06c5daf794.js" crossorigin="anonymous"></script>

    <!-- Add favicon -->
    <link rel="icon" type="image/png" href="images/ChoreTrackerFav.png">
  </head>

  <body>

    <!-- Header of Page -->
    <div class='hero'>
      <div class="left-hero">
        <a href="/">
          <img class="chore-logo" src="images/ChoreTracker_Logo.png" alt="ChoreTracker Logo"
            href="/">
        </a>
        <a href="/">
          <img class="chore-words" src="images/ChoreTracker_W.png" alt="ChoreTracker"
            href="/">
        </a>
      </div>
      <div class="right-hero">
        <button id="menu-btn" title="Menu" class="btn">
          <i class="fas fa-bars fa-x"></i>
        </button>
      </div>
    </div>
    <hr class="hero-line">
    <!-- End of Header -->

    <div class="pages-bar">
      <h6></h6>
      <div class="pages">
        <a href="/">Home</a>
        <a href="kvp">Key Value Proposition</a>
        <a href="product">Product</a>
      </div>
    </div>

    <section class='padding-responsive full-height'>
      <div class='separator'>Meet the Team</div>

      <section class='responsive_grid-4'>
        <section class='responsive_grid-4'>
          <div class='card bordered margin-none names'> 
              <!-- 
            <div class='floating_image margin-none'>
              <img src="images/JuliaSchluper.jpg" alt="Image of Julia Schluper">
            </div> -->
            Julia Schluper
          </div>

          <div class='card bordered margin-none names'> 
              <!--
            <div class='floating_image margin-none'>
              <img src="images/MerveKilic.jpg" alt="Image of Merve Kilic">
            </div> -->
            Merve Kilic
          </div>
        </section>
        <section class='responsive_grid-4'>
          <div class='card bordered margin-none names'> 
              <!--
            <div class='floating_image margin-none'>
              <img src="images/AndrewGooch.jpg" alt="Image of Andrew Gooch">
            </div> -->
            Andrew Gooch
          </div>

          <div class='card bordered margin-none names'> 
              <!--
            <div class='floating_image margin-none'>
              <img src="images/IvanRobles.jpg" alt="Image of Ivan Robles">
            </div> -->
            Ivan Robles
          </div>
        </section>  
      </section>

    </section>

  </body>
</html>