:root {
  --primary-color: #07f;
  /* --accent-color: rgb(227, 42, 42);
  --accent-color-dark: rgb(109, 18, 18);
  --accent-color-darkest: rgb(88, 12, 12); */
  --para-start-color: rgb(197, 233, 255);
  --accent-color: rgb(92, 159, 201);
  --accent-color-dark: rgb(79, 138, 174);
  --accent-color-darkest: rgb(52, 90, 114);
  --darker-color: rgb(83, 83, 83);
  --dark-color: rgb(126, 126, 126);
  --medium-color: #bbb;
  --light-color: #eee;
  /*--page-color: rgb(16, 15, 15);*/
  --page-color: rgb(6, 6, 6);
  --page-color-light: rgb(24, 24, 24);
  --page-color-lighter: rgb(44, 44, 44);
  --soft-color: rgba(221, 214, 212, 1);
  --white-transparent: rgba(255, 255, 255, 0.047);
  --white-less-transparent: rgba(255, 255, 255, 0.5);  
  --dark-transparent: rgba(0, 0, 0, 0.5);
  --dark-less-transparent: rgba(0, 0, 0, 0.75);
  --transparent: #0000;
  --margin-xxl: 3rem;
  --margin-xl: 2rem;
  --margin-lg: 1rem;
  --margin-med: 0.66rem;
  --margin-sm: 0.33rem;
  --base-font-size: 16pt;
  --border-radius: 6px;
  --rounded-radius: 4rem;
  --padding-xxl: 2rem;
  --padding-xl: 1.4rem;
  --padding-lg: 1rem;
  --padding-med: 0.66rem;
  --padding-sm: 0.33rem;
  --font: Tahoma;
  --font-header: Georgia;
}
* {
  box-sizing: border-box;
}
body {
  font-size: calc(1rem + 1vw);
  background: var(--page-color);
  margin: 0px;
  font-family: var(--font);
  color: white;
}
p, ol li, ul li, blockquote {
  font-size: calc(1rem + 0.5vw);
}
/* -- ELEMENTS -- */
.hero {
  background: var(--page-color);
  color: white;
  /*padding: calc(1rem + 8vh) calc(1rem + 2vw) calc(3rem + 10vh) calc(1rem + 3vw);*/
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-header);
  align-items: center;
  margin: 0.25rem;
}
.hero h1 {
  font-size: calc(1rem + 2vw);
  background: none;
  margin: 0px  1rem;
  padding: 0px;
}

.hero-line {
  height: 1px;
  background-color: var(--medium-color);
  border: none;
  margin: 0px;
}

.left-hero {
  display: flex;
  align-items: end;
}

.right-hero {
  display: flex;
  align-items: center;
}


.chore-words {
  width: calc(10rem + 10vw);
}

.chore-logo {
  width: calc(1.45rem + 2.9vw);
  height: calc(1rem + 2vw);
  margin: 0 var(--padding-xl);
}

.landing {
  background-image: url("../images/LandingChore.png");
  background-position: right;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/*MOVE THIS*/
@media screen and (max-width: 1200px) {
  .landing {
    background-image: url("../images/LandingChore-med.png");
  }
}

@media screen and (max-width: 900px) {
  .landing {
    background-image: url("../images/LandingChore-sm.png");
  }
}


h2 {
  font-size: calc(1rem + 2.7vw);
}
h3 {
  font-size: calc(1rem + 2.1vw);
}
h4 {
  font-size: calc(1rem + 1.5vw);
}
h5 {
  font-size: calc(1rem + 1vw);
}
h6 {
  font-size: calc(1rem + 0.5vw);
}
h2, h3, h4, h5, h6 {
  padding: var(--padding-lg);
  margin: 0px 1.25rem;
  background: none;
  width: 100%;
  color: var(--medium-color);
}

.pages-bar {
  padding: var(--padding-med) var(--padding-lg) 0;
  display: flex;
  justify-content: space-between;
  margin: var(--margin-med) var(--margin-sm) 0;
  align-items: center;
}

.pages {
  display: flex;
  font-size: calc(1rem + 0.5vw);
  text-align: right;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.no_underline:hover {
  text-decoration: none;
}

.card {
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  background: var(--transparent);
  color: var(--light-color);
  width: 100%;
  font-size: calc(1rem + 1vw)
}

.card:hover {
  background: var(--white-transparent);
}

.centered {
  text-align: center;
}

.centered_card {
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  background: var(--transparent);
  color: var(--light-color);
  width: 100%;
  font-size: calc(1rem + 1vw);
  display: block;
}

.centered_card_two {
  padding: var(--padding-lg);
  margin: var(--margin-xxl) auto;
  background: var(--transparent);
  color: var(--light-color);
  width: 100%;
  font-size: calc(1rem + 1vw);
  display: block;
}



#login_card {
  max-width: 50vw;
}

input[type="email"], input[type="password"]{
  height: 3rem;
  margin: var(--margin-med);
  background-color: var(--transparent);
  outline: none; 
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
  width: 90%;
  color: var(--light-color);
  padding: var(--padding-med);
}

.landing-card {
  padding: calc(1rem + 0.25vw);
  margin: var(--margin-lg) auto;
  background: var(--transparent);
  color: var(--light-color);
  width: 100%;
  font-size: calc(1.5rem + 1vw)
}

.landing-card li {
  font-size: calc(1rem + 1vw);
  color: var(--medium-color);
}

.landing-card li:hover {
  color: white;
}

.tab_card {
  text-align: center;
  padding: var(--padding-med);
  margin: 0 var(--margin-sm);
  background: transparent;
  color: var(--light-color);
  width: 100%;
  font-size: calc(0.5rem + 1vw)
}

.tab_card:hover {
  text-decoration: underline;
  cursor: pointer;
}

.floating_image {
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  background: var(--transparent);
  width: 100%;
  border: 1px solid var(--medium-color);
  border-radius: var(--border-radius);
  color: var(--medium-color);
  text-align: center;
}

.floating_image_alone {
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  background: var(--transparent);
  color: var(--medium-color);
  max-height: 75vh;
  width: auto;
  text-align: center;
}

.half_page_image {
  max-width: 40vw;
  max-height: 70vh;
}

.empty-card {
  padding: var(--padding-lg);
  margin: var(--margin-med) auto;
  background: var(--transparent);
  width: 100%;
  color: var(--transparent);
}

.in-line {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
  align-items: center;
}

.in-line p {
  padding: 0 1rem;
}

.center-box {
  align-items: center;
  text-align: center;
  padding: 0px calc(3rem + 3vw);
}

.sub-topic {
  text-align: center;
  color: white;
  padding: calc(0.5rem + 1vw);
}

.sub-topic-p {
  text-align: center;
  color: var(--medium-color);
  margin: 0 calc(4rem + 2vw);
  font-size: calc(1rem + 0.5vw);
  padding: calc(0.5rem + 0.5vw);
}

.sub-topic-p:hover {
  color: white;
}

label {
  font-size: calc(0.5rem + 0.5vw);
}

.small-message {
  font-size: calc(0.5rem + 0.5vw);
}

.medium-message {
  font-size: calc(1rem + 0.5vw);
}

.item-header {
  color: var(--para-start-color);
}

.custom-btn {
  border-radius: 20px;
  height: 40px;
  line-height: 1;
  width: calc(5rem + 4vw);
  font-size: calc(0.5rem + 1vw);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  border: 2px solid;
}

.custom-btn {
  border-color: white;
  color: white;
  background-color: var(--transparent);
}

.custom-btn:hover {
  color: black;
  background-color: var(--light-color);
}

.custom-btn-accent {
  border-radius: 1rem;
  height: 3rem;
  line-height: 1;
  width: calc(12rem + 5vw);
  font-size: calc(1rem + 1vw);
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  border: 2px solid;
}

.custom-btn-accent {
  border-color: var(--accent-color);
  color: var(--light-color);
  background-color: var(--accent-color);
}

.custom-btn-accent:hover {
  color: black;
  background-color: var(--light-color);
  border-color: var(--light-color);
}


/* horizontal line with text label */
.separator {
  font-size: calc(1rem + 1vw);
  color: var(--light-color);
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  margin: 0px auto calc(1rem + 2vw);
}

/* .separator::before {
  margin-right: 1rem;
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--medium-color);
}
.separator::after {
  margin-left: 1rem;
  content: "";
  flex: 50;
  border-bottom: 2px solid var(--medium-color);
} */



/* -- GRID -- */
.responsive_grid-4 {
  display: grid;
  padding: 0px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.responsive_grid {
  display: grid;
  padding: 0px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (max-width: 750px) {
  .half_page_image {
    max-width: 80vw;
  }

  .centered_card_two {
    margin: var(--margin-sm);
    width: 100%;
    min-width: none;
    padding: 0;
  }

  .centered {
    width: 100%;
  }

  .stack {
    padding: 0;
  }

  .custom-btn-accent {
    width: calc(7rem + 5vw);
    font-size: calc(0.75rem + 1vw);
  }

  .centered_card {
    font-size: calc(0.75rem + 1vw);
    width: 70vw;
  }

  .responsive_grid {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

}

@media screen and (max-width: 400px) {
  #responsive_grid_index {
    margin-top: calc(2rem + 1vw);
  }
}

.pages-bar a {
  margin: var(--margin-med);
  
}


/* -- UTILITY */
.padding-lg {
  padding: var(--padding-lg);
}
.padding-xl {
  padding: var(--padding-xl);
}
.padding-xxl {
  padding: var(--padding-xxl);
}
.padding-responsive {
  padding: calc(1rem + 1vw) calc(1rem + 3vw) calc(1rem + 5vw);
}
.margin-none {
  margin: none !important;
}
.rounded {
  border-radius: var(--rounded-radius);

}
.bordered, .bordered_stable {
  border: 1px solid var(--dark-color);
  border-radius: var(--border-radius);
}

.bordered:hover {
  border: 1px solid var(--darker-color);
}

.btn {
  border: 1px solid var(--transparent);
  display: inline-flex;
  font-size: calc(1.2rem + 0.7vw);
  cursor: pointer;
  /*padding: var(--padding-med) var(--padding-lg);*/
  padding: 0px;
  border-radius: var(--border-radius);
  background: var(--transparent);
  color: white;
  user-select: none;
  /* margin: 0px 0.25rem 0.75rem 0px; */
  margin: var(--padding-sm) var(--padding-med);
}
.btn:hover {
  color: var(--accent-color);
}

.full_height {
  min-height: 100vh;
}

.bottom-row {
  align-items: center;
  text-align: center;
  display: block;
  margin: var(--margin-lg);
  padding-bottom: var(--padding-lg);
}

/***************************
 * Styling Slide-out menu *
 ***************************/

/**
 * Container for slide-out menu mask
 */
 .sidenav-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/**
 * Container for slide-out menu when closed
 */
.sidenav {
  padding: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  border-radius: var(--border-radius);
  transition: 0.3s;
  border: 1px;
}

/**
 * Container for slide-out menu when open
 */
.sidenav-open {
  width: 20rem;
  padding: var(--padding-lg);
}

/**
 * Container for slide-out menu when screen-width <= 500
 */
.sidenav-small {
  width: 20rem;
  padding: 0 10%;
}

#nav_list {
  margin-top: calc(1rem + 2vw);
}

#nav_list a {
  margin: var(--margin-lg);
}

#nav_list a:hover {
  text-shadow: 0 0 4px var(--light-color);
}

/**
 * Hide
 */
.hidden {
  display: none;
}

.empty-space {
  visibility: hidden;
}

.clicked-btn {
  background-color: var(--page-color-lighter);
}

.clicked-btn:hover {
  text-decoration: none;
  border-color: var(--dark-color);
  cursor: default;
}

/***************************
 * Styling Pop Up Chore Box *
 ***************************/

/**
 * Container for slide-out menu mask
 */
 .add-chore-section-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/**
 * Container for slide-out menu when closed
 */
.add-chore-section {
  overflow: hidden;
  position: fixed;
  transition: 0.3s;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border-radius: 1rem;
  box-shadow: 10px black;
}

/**
 * Container for slide-out menu when open
 */
.add-chore-section-open {
  width: 50%;
  height: 80vh;
  border-width: 2px;
  overflow-y: auto;
}


/**************************
 * Color for Add Chores Box *
 **************************/

.add-chore-section-blocker {
  background-color: var(--dark-less-transparent);
}
  
.add-chore-section {
  background-color: var(--page-color-light);
  color: var(--light-color);
}

#add-chore-top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
  align-items: center;
}

.add-chore-header {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: calc(1.5rem + 1vw);
  color: var(--light-color);
}

  
/**
 * Style close button for centered modal pop ups
 */
.close-center {
  position: absolute;
  top: calc(0.5rem + 1vw);
  right: calc(0.5rem + 1vw);
}

  
/**
 * Style close button for side modal pop ups
 */
.close-side {
  position: absolute;
  right: calc(0.2rem + 1.5vw);
}


/**
 * Style close button for side modal pop ups
 */
 .close-side:hover {
  color: red;
  text-decoration: none;
}


/**
 * Style close button for centered modal pop ups
 */
 .close-center:hover {
  color: red;
  text-decoration: none;
}

/*****************************
  * Color for Slide-out Menu *
  *****************************/

.sidenav-blocker {
  background-color: var(--dark-transparent);
}

.sidenav {
  background-color: var(--page-color-light);
  color: white;
}

.menu_list_links {
  display: block;
}

.menu_list_links a {
  display: block;
  color: var(--light-color);
}

.chores_table {
  padding: 0 var(--padding-lg);
  width: 100%;
  border-spacing: var(--padding-med);
  font-size: calc(0.5rem + 1.5vw);
}

.chores_table th {
  background-color: var(--accent-color-darkest);
  padding: var(--padding-xl);
  text-align: center;
  padding-left: calc(1rem + 1vw);
  border-radius: 2rem;
}

.chores_table th:first-child {
  background-color: var(--accent-color-dark);
  width: 35%;
  text-align: left;
}

.chores_table td {
  background-color: var(--page-color-lighter);
  padding: var(--padding-lg);
  padding-left: calc(1.25rem + 1.5vw);
  border-radius: 2rem;
  text-align: left;
}

.chores_table td:nth-child(3),
.chores_table td:last-child {
  text-align: center;
  justify-content: center;
  width: 10%;
  padding: var(--padding-lg);
}

#sensor_view_table td:last-child {
  width: 25%;
}

.empty_row {
  visibility: hidden;
}

.empty_cell {
  visibility: hidden;
}

.done-btn {
  color: white;
  cursor: pointer;
}

.done-btn:hover {
  color: lightgreen;
  text-shadow: 0 0 4px green;
  text-decoration: underline;
  cursor: pointer;
}

.remove-btn {
  color: white;
  cursor: pointer;
}

.remove-btn:hover {
  color: pink;
  text-shadow: 0 0 4px red;
  text-decoration: underline;
  cursor: pointer;
}


/***************************
 * Styling Pop Up Child Box *
 ***************************/

/**
 * Container for slide-out menu mask
 */
 .add-child-section-blocker {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/**
 * Container for slide-out menu when closed
 */
.add-child-section {
  overflow: hidden;
  position: fixed;
  transition: 0.3s;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border-radius: 1rem;
  box-shadow: 10px black;
  color: var(--light-color);
}

/**
 * Container for slide-out menu when open
 */
.add-child-section-open {
  width: 50%;
  height: 70vh;
  border-width: 2px;
  overflow-y: auto;
}


/**************************
 * Color for Add Chores Box *
 **************************/

.add-child-section-blocker {
  background-color: var(--dark-less-transparent);
}
  
.add-child-section {
  background-color: var(--page-color-light);
  color: var(--light-color);
}

#add-child-top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
  align-items: center;
}

.add-child-header {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: calc(1.5rem + 1vw);
  color: var(--light-color);
}

.input-form {
  font-size: calc(0.5rem + 1.5vw);
  padding: calc(1rem + 1vw);
}

.input-form label {
  font-size: calc(1rem + 0.5vw);
}


.custom-input-wrapper {
  text-align: center;
  padding: var(--padding-lg);
  margin: var(--margin-lg);
}

.custom-input {
  background-color: transparent;
  color: var(--light-color);
  font-size: calc(0.5rem + 1.5vw);
  margin: var(--margin-sm);
  width: 50%;
}

.custom-input-option {
  background-color: var(--page-color-lighter);
  color: var(--light-color);
}


.copy-right {
  text-align: center;
}