:root {
    --primary-color: #07f;
    --accent-color: rgba(231, 109, 90, 1);
    --accent-color-dark: rgba(226, 77, 54, 1);
    --accent-color: rgb(227, 42, 42);
    --accent-color-dark: rgb(109, 18, 18);
    --accent-color-darkest: rgb(88, 12, 12);
    --darker-color: rgb(83, 83, 83);
    --dark-color: rgb(126, 126, 126);
    --medium-color: #bbb;
    --light-color: #eee;
    /*--page-color: rgb(16, 15, 15);*/
    --page-color: rgb(6, 6, 6);
    --soft-color: rgba(221, 214, 212, 1);
    --white-transparent: rgba(255, 255, 255, 0.047);
    --transparent: #0000;
    --margin-xxl: 3rem;
    --margin-xl: 2rem;
    --margin-lg: 1rem;
    --margin-med: 0.66rem;
    --margin-sm: 0.33rem;
    --base-font-size: 16pt;
    --border-radius: 6px;
    --rounded-radius: 4rem;
    --padding-xxl: 2rem;
    --padding-xl: 1.4rem;
    --padding-lg: 1rem;
    --padding-med: 0.66rem;
    --padding-sm: 0.33rem;
    --font: Tahoma;
    --font-header: Georgia;
  }
  * {
    box-sizing: border-box;
  }
  body {
    font-size: calc(1rem + 1vw);
    background: var(--page-color);
    margin: 0px;
    font-family: var(--font);
    color: white;
  }
  p, ol li, ul li {
    font-size: calc(1rem + 0.5vw);
  }
  /* -- ELEMENTS -- */
  .hero {
    background: var(--page-color);
    color: white;
    /*padding: calc(1rem + 8vh) calc(1rem + 2vw) calc(3rem + 10vh) calc(1rem + 3vw);*/
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-header);
    align-items: center;
    margin: 0.25rem;
  }
  .hero h1 {
    font-size: calc(1rem + 2vw);
    background: none;
    margin: 0px  1rem;
    padding: 0px;
  }
  
  .hero-line {
    height: 1px;
    background-color: var(--medium-color);
    border: none;
    margin: 0px;
  }
  
  .left-hero {
    display: flex;
    align-items: end;
  }
  
  .right-hero {
    display: flex;
    align-items: center;
  }
  
  
  .chore-words {
    width: calc(10rem + 10vw);
  }
  
  .chore-logo {
    width: calc(1.45rem + 2.9vw);
    height: calc(1rem + 2vw);
    margin: 0 var(--padding-xl);
  }
  
  .landing {
    background-image: url("../images/LandingChore.png");
    background-position: right;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  /*MOVE THIS*/
  @media screen and (max-width: 1200px) {
    .landing {
      background-image: url("../images/LandingChore-med.png");
    }
  }
  
  @media screen and (max-width: 900px) {
    .landing {
      background-image: url("../images/LandingChore-sm.png");
    }
  }
  
  
  h2 {
    font-size: calc(1rem + 2.7vw);
  }
  h3 {
    font-size: calc(1rem + 2.1vw);
  }
  h4 {
    font-size: calc(1rem + 1.5vw);
  }
  h5 {
    font-size: calc(1rem + 1vw);
  }
  h6 {
    font-size: calc(1rem + 0.5vw);
  }
  h2, h3, h4, h5, h6 {
    padding: var(--padding-lg);
    margin: 0px 1.25rem;
    background: none;
    width: 100%;
    color: var(--medium-color);
  }
  
  .pages-bar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
  }
  
  .pages {
    display: flex;
    font-size: calc(1rem + 0.5vw);
    text-align: right;
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .no_underline:hover {
    text-decoration: none;
  }
  
  .card {
    padding: var(--padding-lg);
    margin: var(--margin-med) auto;
    background: var(--transparent);
    color: var(--light-color);
    width: 100%;
    font-size: calc(1rem + 1vw)
  }
  
  .card:hover {
    background: var(--white-transparent);
  }
  
  .landing-card {
    padding: calc(1rem + 0.25vw);
    margin: var(--margin-lg) auto;
    background: var(--transparent);
    color: var(--light-color);
    width: 100%;
    font-size: calc(1.5rem + 1vw)
  }
  
  .landing-card li {
    font-size: calc(1rem + 1vw);
    color: var(--medium-color);
  }
  
  .landing-card li:hover {
    color: white;
  }
  
  .names {
    text-align: center;
  }
  
  .names:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .floating_image {
    padding: var(--padding-lg);
    margin: var(--margin-med) auto;
    background: var(--transparent);
    width: 100%;
    border: 1px solid var(--medium-color);
    border-radius: var(--border-radius);
    color: var(--medium-color);
  }
  
  .empty-card {
    padding: var(--padding-lg);
    margin: var(--margin-med) auto;
    background: var(--transparent);
    width: 100%;
    color: var(--transparent);
  }
  
  .in-line {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
    align-items: center;
  }
  
  .in-line p {
    padding: 0 1rem;
  }
  
  .center-box {
    align-items: center;
    padding: 0px calc(3rem + 3vw);
  }
  
  .sub-topic {
    text-align: center;
    color: white;
    padding: calc(0.5rem + 1vw);
  }
  
  .sub-topic-p {
    text-align: center;
    color: var(--medium-color);
    margin: 0 calc(4rem + 2vw);
    font-size: calc(1rem + 0.5vw);
    padding: calc(0.5rem + 0.5vw);
  }
  
  .sub-topic-p:hover {
    color: white;
  }
  
  .item-header {
    color: var(--accent-color);
  }
  
  .custom-btn {
    border-radius: 20px;
    height: 40px;
    line-height: 1;
    width: 150px;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    border: 2px solid;
  }
  
  .custom-btn {
    border-color: white;
    color: white;
    background-color: var(--transparent);
  }
  
  .custom-btn:hover {
    color: black;
    background-color: var(--light-color);
  }r
  
  
  /* horizontal line with text label */
  .separator {
    font-size: calc(1rem + 1vw);
    color: var(--light-color);
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    margin: 0px auto calc(1rem + 2vw);
  }
  .separator::before {
    content: "";
    flex: 1;
    border-bottom: 2px solid var(--medium-color);
  }
  .separator::after {
    content: "";
    flex: 50;
    border-bottom: 2px solid var(--medium-color);
  }
  .separator::before {
    margin-right: 1rem;
  } 
  .separator::after {
    margin-left: 1rem;
  }
  
  
  /* -- GRID -- */
  .responsive_grid-4 {
    display: grid;
    padding: 0px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  
  .responsive_grid {
    display: grid;
    padding: 0px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  
  
  /* -- UTILITY */
  .padding-lg {
    padding: var(--padding-lg);
  }
  .padding-xl {
    padding: var(--padding-xl);
  }
  .padding-xxl {
    padding: var(--padding-xxl);
  }
  .padding-responsive {
    padding: calc(1rem + 1vw) calc(1rem + 3vw) calc(1rem + 5vw);
  }
  .margin-none {
    margin: none !important;
  }
  .rounded {
    border-radius: var(--rounded-radius);
  
  }
  .bordered {
    border: 1px solid var(--dark-color);
    border-radius: var(--border-radius);
  }
  
  .bordered:hover {
    border: 1px solid var(--darker-color);
  }
  
  .btn {
    border: 1px solid var(--transparent);
    display: inline-flex;
    font-size: calc(1rem + 0.6vw);
    cursor: pointer;
    /*padding: var(--padding-med) var(--padding-lg);*/
    padding: 0px;
    border-radius: var(--border-radius);
    background: var(--transparent);
    color: white;
    user-select: none;
    /* margin: 0px 0.25rem 0.75rem 0px; */
    margin: var(--padding-sm) var(--padding-med);
  }
  .btn:hover {
    color: var(--accent-color);
  }
  
  .full-height {
    height: 100vh;
  }
  
  .bottom-row {
    align-items: center;
    text-align: center;
    display: block;
    margin: var(--margin-lg);
    padding-bottom: var(--padding-lg);
  }